<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Statify: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/extjs/resources/css/ext-all.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css"/>

    {% block css %}{% endblock %}

    <script src="{{ STATIC_URL }}/extjs/ext-all.js"></script>
</head>

<body>

{% block content %} {% endblock %}

{% block javascript %} {% endblock %}

</body>
</html>